
<div class="row">
  {% for file in files %}
  {% comment %} Only include files where block = this current block{% endcomment %}
  {% if file.block == block %}  

  <div class="col-lg-3 col-md-6 col-sm-12 pb-4" >
    <div class="card page">
      <img src="/siteassets/muralslice2.jpg" class="card-img-top" alt="mural">
      <div class="card-body">
        <!-- <h5 class="card-title">{{ file.title }}</h5> -->
        <p class="card-text">{{ file.title }}</p>
      </div>
      <div class="card-footer">
        {% if file.filename and file.filename != '' %}
        <a href="/download/{{ file.filename }}" class="stretched-link">Download <i class="fa fa-download " aria-hidden="true"></i></a>
        {% else %}
        <a href="{{ file.link }}" class="stretched-link" target="_blank">View <i class="fa fa-external-link-alt" aria-hidden="true"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

