<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="A collection of resources to assist those planning multi-agency anti-slavery activity, or already working within anti-slavery partnerships">
  <link rel="stylesheet" href="{{ "/vendor/bootstrap-4.3.1.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/vendor/fontawesome-5.8.1.min.css" | prepend: site.baseurl }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  
{% if page.customcss %}
  <!-- custom css -->
  {% for stylesheet in page.customcss %}
  <link rel="stylesheet" href="{{ stylesheet | prepend: site.baseurl }}" media="screen" type="text/css">
  {% endfor %}
{% endif %}

  <link rel="stylesheet" href="{{ "/siteassets/style.css" | prepend: site.baseurl }}" media="screen" type="text/css">
 
  <!-- icons -->
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="MyWebSite" />
  <link rel="manifest" href="/site.webmanifest" />


</head>
