<!-- Navigation -->
<div class="navwrap">
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">

        <a href="/" class="navbar-brand">Anti-Slavery Partnership Toolkit</a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% comment %} Only include pages with `nav: yes` in the front-matter; sort on sortTitle{% endcomment %}
            {% assign pages = (site.pages | where: "nav","yes" | sort: "sortTitle" ) %}
            {% for page in pages %}
            <li class="nav-item"><a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.navTitle }}</a></li>
            {% endfor %}
            <li class="nav-item"><a class="nav-link" href="{{ "/search/" | prepend: site.baseurl }}"><i class="fas fa-search"></i></a></li>
          </ul>
        </div>


  </nav>
</div>
</div>