<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="home">
{% include nav.html %}

<!-- Page Header -->
<header class="banner">
    <div class="container center">
        <h1>Anti-Slavery Partnership Toolkit</h1>
        <p>Assisting frontline practitioners and service-providers to work in partnership</p>
    </div>
</header>

<div class="background intro">
    <!-- Intro + Checklist-->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 pb-4 introtext" >
        {{ content }}
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 pb-4" >
        {% assign cards = site.data.checklistcard %}
        {% include cardschecklist.html %}
        </div>
      </div>
    </div>

    <!-- Toolkit cards -->
    <div class="container introtext">
    <p>{{ page.explore }}</p>
    </div>
    <!-- Cards -->
    <div class="container">
    {% assign cards = site.data.homecards2 %}
    {% include cardshome.html %}
    </div>
</div>

{% include footer.html %}
</body>
</html>